<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon">
    <img [src]="menuIntem.imagePath"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{menuIntem.name}}</span>
    <span class="menu-item-info-box-detail">{{menuIntem.descriotion}}</span>
    <span class="menu-item-info-box-price">{{menuIntem.price | currency: 'BRL': true}}</span>
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>